@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* Variables */

:root {
    --bg-color: #1F2937;
    --text-color: #D5D4D8;
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
}

/* Layout + Typography */

.color-scheme-generator {
    background-color: var(--bg-color);
    max-width: 550px;
    margin: 20vh auto;
}

.colors-form {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    padding: 24px 14px;
}

.color-scheme-select, .hex-code {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.color-scheme-select, .color-scheme-select option {
    text-transform: capitalize;
}

.color-scheme-select {
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--text-color);
    padding: 9px 13px;

    font-weight: 400;
}

.color-scheme-select option {
    font-weight: 600;
    color: #fff;
}

.color-scheme-generator input[type=color] {
    width: 20%;
    min-height: 43px;
}

.color-scheme-generator button[type=submit] {
    width: 40%;
    border-radius: 4px;
    border: none;
    background-color: #3D4B60;
    
    font-weight: 500;
    font-size: 12px;
    color: #fff;
}

.color-stripes-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.color-stripe {
    display: flex;
    align-items: flex-end;
    min-height: 460px;
    width: 110px;
}

.hex-code {
    width: 100%;
    font-size: 12px;
    margin: 0 auto;
    padding: 11px 28px;
}
